<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问iZ28rg281bkZ\SQLEXPRESS;
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="myconnstring" value="Data Source=iZ28rg281bkZ\SQLEXPRESS;          Initial Catalog=Stu;          Integrated Security=True;          User ID=sa;          Password=123456"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>

</configuration>
